{:paths ["src"]
 :main "main.lg"
 :targets {:bin {:out "bin/wtr"}}
 :deps {tiny-cli {;:local/root "../tiny-cli"
                  :git/url "https://github.com/abogoyavlensky/tiny-cli"
                  :git/sha "6bc4edede5c2e7fc3f579ea69d4162852fee69a3"}}}
